body{
	font-family: Tahoma;
}
#calendar{
	width:100%;
}
#calendar a{
	color:#666;
	text-decoration: none;
}
#calendar ul{
	list-style: none;
	padding: 0;
	margin: 0;
	clear:both;
	width:100%;
}
#calendar li{
	display:block;
	float:left;
	width:14.285%;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid gray;
	margin-right:-1px;
	margin-bottom:-1px;
}
#calendar ul.weekdays{
	height: 40px;
	background: #666;
}
#calendar ul.weekdays li{
	text-align:center;
	border:none;
	line-height:20px !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}
#calendar .days li{
	height: 180px;
}
#calendar .days li:hover{
	background:#eee;
}
#calendar .date{
	background:#333;
	text-align:center;
	margin-bottom:5px;
	padding:5px;
	color:#fff;
	width: 12%;
	border-radius: 50%;
	float:left;
}
#calendar .event{
	clear:both;
	display:block;
	font-size:12px;
	border-radius:4px;
	padding:5px;
	margin-top:40px;
	margin-bottom:5px;
	color: #666;
	line-height:14px;
	background-color: #f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration:none;
	background-color: #7cdadd;
}
#calendar .event-desc{
	color:#666;
	margin:3px 0 7px;
	text-decoration:none;
}
#calendar .other-month{
	background:#d3d3d3;
}
@media(max-width:768px){
	#calendar .weekdays,#calendar .other-month{
			display:none;
		}
	#calendar li{
		height: auto !important;
		border: 1px solid #ededed;
		width:100%;
		padding:10px;
		margin-bottom:-1px;
	}
	.date{
		float:none;
	}
}
